/* Global */
:root {
    --orange-web: #f9a826ff;
    --nyanza: #F7FEE7;
    --wenge: #605856ff;
    --powder-blue: #acbed8ff;
    --dodger-blue: #0496ffff;
    --melon-green : #a1efad;

    --box-shadow-1: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Landing */
#--landing-logo {
    width: 25%;
}

#--landing-container {
    justify-content: center;
}

#--landing-form {
    max-width: 350px;
    margin-top: 2rem;
    width: 15%;
}

/* login/reg container */

/* Music Player  */
.image-Display{
    width: 50px;
    height: 50px;
}

#music-player-container {
    padding: 1%;
    flex-direction: row;
    align-items: start;
    height: 100%;
}

.music-player-album-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-played-song-info {
    width: 100%;
    margin-left: 10%;
}

.current-played-song-info h2,
.current-played-song-info h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: min(4vw, 1.5rem); 
}

#playlists-container {
    background: var(--nyanza);
    width: 25%;
    min-width: 300px;
    max-height: 700px;
    justify-content: start;
    overflow:auto;
    padding: 1% 0;
    margin: 0 1%;
}

.playlists-all {
    width: 80%;
}

.playlist-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dodger-blue);
    box-shadow: var(--box-shadow-1);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 70px;
    margin-top: 5%;
}

.playlist-table {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    background-color: var(--orange-web);
    box-shadow: var(--box-shadow-1);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5%;
}

*::-webkit-scrollbar {
    width: 13px;
  }

*::-webkit-scrollbar-track {
background: #f7fee7;
}

*::-webkit-scrollbar-thumb {
background-color: #f9a826;
border-radius: 13px;
border: 3px solid #f7fee7;
}

.edit-playlist-btn {
    font-size: 1rem;
    white-space: inherit;
}

.playlist-card > * {
    margin: 0 2%;
}

.playlist-card button {
    font-size: 2rem;
}

.playlist-song td {
    width: 75%;
  }

.playlist-song {
    background-color: var(--wenge);
    color: var(--melon-green);
    box-shadow: var(--box-shadow-1);
    margin: 1%;
    padding: 1% 0% 1% 1%;
    width: 100%;
    overflow: auto;
}

.playlist-song-header, .playlist-song {
    display: grid;
    grid-template-columns: 26% 26% 26% 22%;
}

@media screen and (max-width: 2200px) {
    .playlist-song-header, .playlist-song {
        grid-template-columns: none;
    }

    .playlists-heading-buttons {
        flex-direction: column;
        align-items: center;
    }

    .playlists-heading-buttons button {
        margin-top: 5%;
    }

    .playlist-song td {
        border-bottom: 1px solid;
        padding: 2.5%;
        width: 95%;
    }

    .song-buttons-container button{
        padding: 10%;
    }

    .playlist-card {
        padding: 5% 0;
    }
}

@media screen and (min-width: 2200px) {
    .music-player i {
        display: block;
    }
}

@media screen and (max-width: 2199px) {
    .music-player i {
        display: inline-block;
    }
}

.playlist-song-header {
    background-color: var(--melon-green);
    color: var(--wenge);
    box-shadow: var(--box-shadow-1);
    margin: 1%;
    padding: 1% 0% 1% 1%;
    overflow: auto;
    width: 100%;
}

.playlist-song-header td {
    width: 75%;
    font-size: 1rem;
}

#playlists-container {
    background: var(--nyanza);
    width: 25%;
    min-width: 300px;
    padding: 1% 0;
}

.playlist-table {
    max-width: 100%;
}
.playlists-operations {
    width: 100%;
}

#playlists-heading{
    width: auto;
    background-color: var(--wenge);
    color: var(--melon-green)
}

#playlists-create {
    width: 100%;
}

.playlists-heading-buttons {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    overflow: auto;
}

.active-playlist {
    background-color: var(--orange-web);
    padding:1.5% 1.5% 0.5% 1.5%;
    box-shadow: var(--box-shadow-1);;
}

.active-playlist i {
    font-size: 1rem;
}

.song-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-buttons-container button {
    text-align: center;
    white-space: normal;
    height: auto;
    width: 100%;
    margin: 5% 0;
    padding: 10%;
}

.music-player-graphic-container {
    position: relative;
    flex: 1 1 auto;
    max-width: 55%;
}

.music-player-graphic-container img{
    width:75%;
    height: auto;
    display: block;
    margin: 0 auto;
    min-width: 300px;
}

.music-player-album-container {
    position: absolute;
    height: 40%;
    width: 20%;
    top: 40%;
    left: 40%;
    transform: translate(-68%, -50%);
    box-shadow: var(--box-shadow-1);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.music-player-web-player-container {
    position: absolute;
    height: 20%;
    width: 25%;
    top: 60%;
    left: 5%;
    transform: translate(75%, 50%);
    box-shadow: var(--box-shadow-1);
    background-color: var(--nyanza);
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    max-width: 100%;
}

.playerButtons{ 
    display: flex;
    justify-content: space-evenly;
}

/* manipulate playlist, users playlists page  */
#manipulate-playlist-page, #users-playlists-page {
    height: auto;
    width: auto;
}

#manipulate-playlist-container, #users-playlists-container {
    width: auto;
    margin: 2% auto;
}

#manipulate-playlist-heading, .users-playlists-heading {
    padding: 2%;
    background-color: var(--orange-web);
    box-shadow: var(--box-shadow-1);
}

#users-playlists-table-container{
    width: auto;
}

#users-playlists-playlist {
    padding: 1%;
}

.buttons-holder > * {
    margin: 5%;
}

.users-playlists-playlist-row {
    background-color: var(--wenge); /* Change this to the color you want */
    color: white;
    box-shadow: var(--box-shadow-1);
  }

.users-playlists-playlist-row td .users-playlists-playlist-description {
    max-height: 100px;
    max-width: 300px;
    overflow: auto;
    padding: 5%;
    border: 1px solid var(--melon-green);
    box-shadow: var(--box-shadow-1);
    background-color: rgb(57, 52, 51);
}

.users-playlists-playlist-row td .buttons-holder {
    display: grid;
    align-items: center;
}
