/* Global */
:root {
    --orange-web: #f9a826ff;
    --nyanza: #F7FEE7;
    --wenge: #605856ff;
    --powder-blue: #acbed8ff;
    --dodger-blue: #0496ffff;
    --melon-green : #a1efad;

    --box-shadow-1: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 100%;
    background: var(--powder-blue);
}

p, input, td, th, textarea {
    font-size: 1.5rem;
}

th, td {
    padding: 2%;
}

table {
    border-collapse: collapse;
}


a, form {
    font-size: 2rem;
}

.errors {
    color: red;
    background-color: var(--melon-green);
    box-shadow: var(--box-shadow-1);
    padding: 0 1%;
    margin-top: 5%;
    font-size: 1.5rem;
}

button{
  align-items: center;
  appearance: none;
  background-color: var(--orange-web);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--wenge);
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: var(--melon-green);
  transition: 250ms
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--powder-blue);
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--nyanza);
    box-shadow: var(--box-shadow-1);
}

.card {
    background: var(--nyanza);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-1);
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 2rem;
    margin: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > *, label{
    margin: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 60%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--wenge);
    box-shadow: var(--box-shadow-1);
}

/* Nav */
.--nav-bar {
    background-color: var(--orange-web);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: var(--box-shadow-1);
}

#--nav-bar-logo  {
    object-fit: cover;
    width: 12.5%;
    height: 100%;
    position: relative;
    right: 1rem;
}

.--nav-bar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.--nav-bar a {
    margin: 0 1rem;
}
